/*.pdf
/*.csv
/*.json
/*.sqlite3
/*.zip
/*.tar.gz
env/
.idea/
.vscode/
/static/
/static/**
/media/
/media/**
/tmp/
/tmp/**
/backup/
/backup/**
/diagram/
/diagram/**
*.pyc
*.pem
/api/settings/current.py
*.DS_Store
